.add-exercise {
  position: fixed;
  top: 10%;
  left: 3rem;
    height:40rem;
    overflow-y:auto;
  background: #161b22;
  width: clamp(25rem, 21cqi, 40rem);
  aspect-ratio: 10/9;

  border-radius: 1rem;
  padding: 2rem;

  box-shadow: 0 1rem 3rem rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  z-index: 9999;
}

/* Nagłówek */
.add-exercise h2 {
  font-size: clamp(1.8rem, 2cqi, 2.6rem);
  color: #c97f1a;
  letter-spacing: 0.1rem;
  text-align: center;
}

/* INPUTY */
.add-exercise input {
  width: 100%;
  padding: 0.8rem 1rem;

  border-radius: 0.5rem;
  border: none;
  outline: none;

  background-color: #0d1117;
  color: #e2e2e2;

  border: 1px solid #2c3542;
  font-size: 1rem;

  transition: 0.2s;
}

.add-exercise input:focus {
  border-color: #c97f1a;
  box-shadow: 0 0 0.7rem rgba(201,127,26,0.3);
}

/* PRZYCISK DODAWANIA */
.add-exercise button {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.5rem;

  font-weight: bold;
  font-size: 1.1rem;

  background-color: #c97f1a;
  color: #fff;

  border: none;
  border-radius: 0.6rem;
  cursor: pointer;

  transition: 0.3s;
}

.add-exercise button:hover {
  background-color: #e29a3b;
  box-shadow: 0 0 1.2rem rgba(201,127,26,0.4);
}

/* LISTA */
.add-exercise h3 {
  color: #c97f1a;
  margin-top: 1rem;
}

.add-exercise ul {
  color: #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

.add-exercise li {
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
}
.add-exercise-header {
  width: 100%;
  height: 3.5rem;

  background: #2c3542;
  border-radius: .8rem .8rem 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.add-exercise-header h2 {
  color: #c97f1a;
  font-size: 1.4rem;
  letter-spacing: .05rem;
}

.close-addExercise-popup {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

  width: 2rem;
  height: 2rem;

  background: #1e242d;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  transition: 0.2s ease-in-out;
}


.close-addExercise-popup:hover {
  background: #c97f1a !important;
}

.close-addExercise-popup .icon-small {
  color: #fff;
}

