.icon-small {
  width: 18px;
  height: 18px;
  color: #c97f1a;
  cursor: pointer;
  transition: 0.2s;
}

.icon-small:hover {
  opacity: 0.4;
}

.calendar-app{
  width:60%;
  min-width: 90vmin;
  aspect-ratio:3/2;
  background-color: #1e242d;
  padding: 3rem;
  border-radius: 3rem;
  border:1rem solid #0f1319;
  display:flex;
  column-gap:5rem;
  position:relative;
  transform-style:preserve-3d;

}
.calendar-app::after{
  content: '';
  position:absolute;
  bottom: -12rem;
  left:50%;
  transform: translate(-50%)rotateX(50deg);
  width:90%;
  height: 16rem;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20rem;
  filter:blur(4rem)
}
.calendar{
  width:40%;

}
.heading{
font-family: 'Stack sans text', sans-serif;
font-size: clamp(4rem,3.8cqi, 7rem);
color:#fff;
letter-spacing: 0.3rem;
}

.navigate-date{
  display:flex;
  align-items: center;
  column-gap: 1rem;
  margin: 3.5rem 0;
  justify-content: space-between;
}

.navigate-date h2{
  font-size:clamp(1.5rem,1.5cqi,2.5rem);
  color:#bbb;
}

.buttons{
  display: flex;
  column-gap:1rem;
  margin-left:auto;
}
.buttons .btn-left,
.buttons .btn-right{
  width:3.5rem;
  height:3.5rem;
  background-color: #2c3542;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  border: none;
  cursor: pointer;

}
.weekdays{
  width:100%;
  display:flex;
  margin:3rem 0;

}
.weekdays span{
  width: calc(100%/7);
  font-size:clamp(1rem,0.8cqi,1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  color:#78879e;
  letter-spacing:0.1rem;
  display: flex;
  justify-content:center;
  
}
.days{
  display:flex;
  flex-wrap:wrap;
}

.days span{
  font-size: clamp(1.2rem,1cqi,1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  cursor: pointer;
  text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  background-color: transparent; /* upewnij się, że domyślnie jest przezroczyste */
}

.days span.currentDay{
  background-color: #c97f1a; /* dodaj !important jeśli dalej nie działa */
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1rem rgba(239,144,17,0.3);
  color: #fff; /* kontrast do pomarańczowego tła */
}

.workouts{
  width:60%;
  height:100%;
  padding:3rem 0;

}

.workout-popup{
  position:absolute;
  top:38%;
  left:3rem;
  background: #161b22;
  width:clamp(25rem,21cqi,40rem);
  aspect-ratio: 10/9;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-content: center;
  row-gap: 2rem;
 

}
.time-input{
  display:flex;
  column-gap:1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.time-input input{
  background-color: transparent;
  border: none;
  border-top: .2rem solid #00a3ff;
  border-bottom: .2rem solid #00a3ff;
  color:#fff;
  width: clamp(4rem,4cqi,7rem);
  text-align: center;
  height: 4rem;
  font-size: clamp(1.2rem,1.3cqi,1.6rem);
}

.workout-popup-time{
  width:clamp(4rem,4cqi,7rem);
  height:4rem;
  background-color: #00a3ff;
  color:#fff;
  font-size:clamp(1.2rem,1.3cqi,1.6rem);
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 1.5rem 1rem rgba(0,163,255,0.2);
  border-radius: 0.5rem;
}


.workout{
  width:100%;
  height:7rem;
  background-color: #00a3ff;
  padding:1.5rem 0;
  display:flex;
  border-radius: 1rem;
  align-items:center;
  margin-bottom:2rem;
  position: relative;

}

.workout-date-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:25%;
  border-right:.1rem solid rgba(255,255,255,0.5);
}
.workout-date{
  font-size:clamp(1rem,1cqi,1.2rem);
  color:#ddd;

}

.workout-time{
  font-size:clamp(1rem,1cqi,1.6rem);
  color:#fff;
  line-height:4rem;
  font-weight: bold;
}

.workout-text{
  font-size:clamp(1.2rem,1cqi,1.4rem);
  color:#fff;
  line-height:2rem;
  width:75%;
  padding: 0 3rem 0 1rem;
  overflow-wrap:break-word ;
}
.workout-buttons{
  display: flex;
  column-gap:1rem;
  margin-left:auto;
  margin-right:2rem;
}
.workout-buttons .edit-btn,
.workout-buttons .delete-btn{
  width:3.5rem;
  height:3.5rem;
  background-color: #2c3542;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  border: none;
  cursor: pointer;

}